.ArticleCard {
  border: 1px solid #c5c5c5;
  padding: 20px 20px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 250px;

  @media (min-width: 768px) {
    width: 25vw;
    margin-right: 30px;
  }

  &:hover {
    .title {
      opacity: 0.6;
    }
  }

  &.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
