.ArticleCard {
  border: 1px solid #c5c5c5;
  width: 25vw;
  padding: 30px;
  margin-right: 30px;
  margin-bottom: 30px;

  &.centered {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  @media (max-width: 1024px) {
    width: 250px;
  }
  .title {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  .byline {
    font-size: 0.8rem;
  }
  .publish-date {
    font-size: 0.8rem;
    margin-bottom: 10px;
  }
}
