@import "../../_settings/variables.scss";

.ArticleCard {
  border: 1px solid $lightGray;
  padding: 20px 20px;
  margin-bottom: 30px;
  cursor: pointer;
  width: 250px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 768px) {
    width: 25vw;
    margin-right: 30px;
  }

  &:hover {
    .title {
      opacity: 0.6;
    }
  }

  &.centered {
    justify-content: center;
  }
}
