.ModalMenu {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #000;
  color: #fff;
  z-index: 999;
  animation: blurIn 1s;
  top: 0;
  left: 0;
  .menu {
    text-align: center;
    margin: 30vh 0;
    width: 100%;
    padding: 0;
    li {
      font-size: 2rem;
      list-style: none;
      margin-bottom: 15px;
      cursor: pointer;
    }
  }
  .closeIcon {
    position: absolute;
    right: 30px;
    top: 30px;
  }
}

@keyframes blurIn {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0px);
  }
}
