@import "../../_settings/variables.scss";

.ModalMenu {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $black;
  color: $white;
  z-index: 999;
  animation: blurIn 1s;
  top: 0;
  left: 0;
  .menu {
    text-align: center;
    margin: 30vh 0;
    width: 100%;
    padding: 0;
    li {
      font-size: 1.8rem;
      list-style: none;
      margin-bottom: 15px;
      cursor: pointer;
      span {
        position: relative;
        width: 100%;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .closeIcon {
    position: absolute;
    right: 30px;
    top: 45px;
  }
}

@keyframes blurIn {
  from {
    filter: blur(4px);
  }
  to {
    filter: blur(0px);
  }
}
